header {
  
    background: rgb(230, 10, 10);
    color: white;
    border: 5px solid yellow;
    text-align: center;
    padding: 10px;
    text-shadow: 1px 1px 1px black;
  }
  
 
  main {
    width: 90%;
    margin: 0 auto;
    padding: 5px;
    min-height: 400px;
    text-align: center;
  }
/* background colors */
body{
    background-color:rgb(10, 9, 27);
    color: antiquewhite;
    margin: 0; 
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
a{
    color:antiquewhite;
}
  
  h1, h2 {
    font-family: helvetica, sans-serif;
    text-align: center;
    background: rgb(230, 10, 10);
  }
  
 
  footer {
    text-align: center;
    background: lightgrey;
    color:blueviolet;
    padding: 10px;
  }